<launch>
    <include file="$(find gamepad_controller)/launch/gamepad_sim.launch" >
        <arg name="show_gui" value="true" />
    </include>
    <include file="$(find perception)/launch/realsense_segmentation.launch" />
    <node pkg="simple_gait_optimization" type="auto_speed_auto_gait.py" name="auto_speed_auto_gait" respawn="true" />
</launch>
