<launch>
    <arg name="grpc_server_addr" default="10.211.55.2"/>
    <include file="$(find gamepad_controller)/launch/gamepad_real.launch" />
    <include file="$(find m1_perception)/launch/perception.launch" >
        <arg name="grpc_server_addr" value="$(arg grpc_server_addr)"/>
    </include>
    <node pkg="slam" type="bev_speedmap_generator.py" name="speedmap_generator" args="--height_tolerance=0.3"/>
    <node pkg="info_publisher" type="tf_publisher.py" name="tf_publisher" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find m1_perception)/rviz/default.rviz" />
</launch>
