<launch>
    <include file="$(find gamepad_controller)/launch/gamepad_real.launch" >
    </include>
    <node pkg="m1_perception" type="compute_gait_from_speed.py" name="compute_gait_from_speed" respawn="true" />
    <node pkg="m1_perception" type="compute_speed_from_perception_grpc.py" name="compute_speed_from_perception_grpc" respawn="true" />
    <node pkg="info_publisher" type="data_logger.py" name="data_logger" />
    <node pkg="info_publisher" type="web_server.py" name="web_server" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
     <arg name="port" value="9090"/>
    </include>
</launch>
