<launch>
    <include file="$(find gamepad_controller)/launch/gamepad_sim.launch" >
        <arg name="show_gui" value="true" />
    </include>
    <include file="$(find m1_perception)/launch/perception.launch" >
    </include>
    <node pkg="info_publisher" type="tf_publisher.py" name="tf_publisher" />
    <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch">
        <arg name="port" value="/dev/ttyACM0"/>
        <arg name="baud" value="38400"/>
    </include>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find m1_perception)/rviz/default.rviz" />
</launch>
