<launch>
  <include file="$(find perception)/launch/fake_camera_segmentation.launch" />
  <node pkg="gamepad_controller" type="gamepad_reader.py" name="gamepad_controller" args="" respawn="true"/>
  <node pkg="traversability_model" type="eval_on_ros.py" name="gait_policy" args="" respawn="true"/>
  <node pkg="a1_interface" type="convex_mpc_controller_example.py" name="convex_mpc_controller" args="--show_gui=True" respawn="true"/>
</launch>

