<launch>
  <!-- Localization -->
  <node pkg="gps_navigation" type="robot_localizer.py" name="pointmass_robot" respawn="false" args="--gps_anchor_file=/home/yxyang/research/semantic_locomotion_ros/src/gps_navigation/data/around_lawn.npy --use_emulated_gps=False"/>
  <node pkg="gps_navigation" type="path_generator.py" name="path_generator" respawn="false" args="--waypoint_file_path=/home/yxyang/research/semantic_locomotion_ros/src/gps_navigation/data/around_lawn.npy"/>
  <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch">
    <arg name="port" value="/dev/ttyACM0"/>
    <arg name="baud" value="9600"/>
  </include>
  <node pkg="tf" type="static_transform_publisher" name="gps_broadcaster" args="0 0 0 0 0 0 1 base_flat gps 100" />

  <!-- Perception and Control -->
  <include file="$(find m1_perception)/launch/gait_optimization_real.launch"/>

  <!-- Logging -->
  <node pkg="rosbag" type="record" name="rosbag_record" args="-o /home/yxyang/research/semantic_locomotion_ros/logs/bag --split --duration=1m /camera/aligned_depth_to_color/image_raw /camera/color/image_raw /camera/speedmap/pointcloud /perception/bev_speedmap/image_raw /robot_state /fix" />
</launch>
