<launch>
  <include file="$(find gamepad_controller)/launch/gamepad_real.launch" />
  <node pkg="gps_navigation" type="pointmass_robot.py" name="pointmass_robot" respawn="false" args="--gps_anchor_file=/home/yxyang/research/semantic_locomotion_ros/src/gps_navigation/data/around_lawn.npy --use_emulated_gps=False"/>
  <node pkg="gps_navigation" type="path_generator.py" name="path_generator" respawn="false" args="--waypoint_file_path=/home/yxyang/research/semantic_locomotion_ros/src/gps_navigation/data/around_lawn.npy"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gps_navigation)/rviz/pointmass.rviz" />
  <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch">
    <arg name="port" value="/dev/rfcomm0"/>
    <arg name="baud" value="38400"/>
  </include>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="port" value="9090"/>
  </include>
  <node pkg="tf" type="static_transform_publisher" name="gps_broadcaster" args="0 0 0 0 0 0 1 base_link gps 100" />
  <node pkg="info_publisher" type="web_server.py" name="web_server" />
</launch>
